.history-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--card-color);
  padding: 1rem;
  gap: 0.5rem;
  width: max(45vw, 550px);
  border-radius: 80px;
  corner-shape: bevel;
  border: 2px solid var(--card-border);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2),
    3px 3px 1px rgba(0, 0, 0, 0.1) inset;
  transition: all 0.3s ease;
  backface-visibility: hidden;
  &:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    border: 2px solid transparent;
  }
  .name {
    font-size: 1.3rem;
    color: var(--btn-hover);
  }
  .timestamp {
    font-style: italic;
  }
  .artist {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    a {
      color: var(--prim-text);
    }
  }
}
