.history-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--prim-text);
  h2 {
    color: var(--spotify-color1);
    text-align: center;
  }
  button {
    background-color: var(--spotify-color1);
    color: var(--platinum-color);
    &:hover {
      background-color: var(--btn-hover);
    }
  }
}

.history-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
