.history-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: var(--prim-text);
  .list-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.history-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}
