.history-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--card-color);
  padding: 1rem;
  gap: 0.5rem;
  width: min(65vw, 60%);
  text-align: center;
  border-radius: 80px;
  corner-shape: bevel;
  border: 2px solid var(--card-border);
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2),
    3px 3px 1px rgba(0, 0, 0, 0.1) inset;
  transition: all 0.3s ease;
  backface-visibility: hidden;
  &:hover {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    border: 2px solid transparent;
  }
  @media screen and (max-width: 1100px) {
    corner-shape: square;
  }

  .name {
    font-size: clamp(16px, 2vw, 18px);
    color: var(--btn-hover);
    font-weight: 600;
  }
  .timestamp {
    font-style: italic;
    font-size: clamp(12px, 2vw, 16px);
  }
  .artist {
    width: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    a {
      color: var(--prim-text);
      font-size: clamp(13px, 2vw, 16px);
    }
    @media screen and (max-width: 1000px) {
      flex-direction: column;
      gap: 0;
      p {
        display: none;
      }
    }
  }
}
