.layout-container {
  display: flex;
  height: 100dvh;
  width: 100vw;
  background-color: var(--main-bg-color);

  .inner-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    main {
      flex: 1;
    }
    margin-left: 250px;
    @media screen and (max-width: 700px) {
      margin-left: 75px;
    }
  }
}
