.layout-container {
  display: flex;
  height: 100vh;
  width: 100vw;

  .inner-container {
    margin-left: 250px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    main {
      flex: 1;
      background-color: var(--platinum-color);
    }
  }
}
