.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /*   background: linear-gradient(135deg, #ccffbd 0%, #70ff44 100%);
  background-size: 150% 150%; 
  width: 100%;
  height: 100vh;
  position: relative;
  animation: gradientShift 3s ease infinite; */

  width: 100%;
  height: 100vh;
  --s: 100px; /* control the size */
  --c1: #183910;
  --c2: #2b7e24;
  --c3: #235a1a;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 180deg
      )
      calc(0.5 * var(--s)) calc(0.5 * var(--s) * 0.577),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 180deg
    );
  background-size: var(--s) calc(var(--s) * 0.577);

  .inner-container {
    min-height: 60vh;
    width: clamp(300px, 70vw, 70%);
    margin: 0 1em;
    background-color: var(--spotify-color1);
    border-radius: 50px;
    corner-shape: squircle;
    filter: drop-shadow(5px 7px 4px #11111141);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 2vh 0;
    color: var(--platinum-color);
    .site-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        flex: 0.7;
        filter: drop-shadow(5px 5px 5px #00000058);
      }
      h3 {
        flex: 1.4;
        font-size: 1rem;
      }
      @media screen and (max-width: 800px) {
        flex-direction: column;
        text-align: center;
        gap: 10px;
      }
      .details-text {
        font-size: larger;
      }
    }
    button {
      color: var(--spotify-color1);
      background-color: var(--btn-text);
      transition: all 0.2s ease;
      border-radius: 0;
      &:hover {
        color: var(--btn-text);
        background-color: var(--btn-hover-100);
        transform: scale(1.1);
      }
    }
  }
}

@keyframes gradientShift {
  0% {
    background-position: top left; /* Start position */
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: top left; /* Return to start for a loop */
  }
}
