.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  /* Set up a large gradient */
  background: linear-gradient(135deg, #ccffbd 0%, #70ff44 100%);
  background-size: 150% 150%; /* Make the background larger than the container */
  width: 100%;
  height: 100vh; /* Full viewport height */
  position: relative;
  /* Apply the animation */
  animation: gradientShift 3s ease infinite;

  .inner-container {
    min-height: 60vh;
    min-width: 50vw;
    max-width: 60vw;
    margin: 0 1em;
    background-color: var(--spotify-color1);
    border-radius: 50px;
    corner-shape: squircle;
    filter: drop-shadow(5px 7px 4px #11111141);
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    gap: 2vh 0;
    color: var(--platinum-color);

    .site-details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        flex: 0.7;
        filter: drop-shadow(5px 5px 5px #00000058);
      }
      h3 {
        flex: 1.4;
        font-size: 1rem;
      }
      @media screen and (max-width: 800px) {
        flex-direction: column;
        text-align: center;
        gap: 10px;
      }
      .details-text {
        font-size: larger;
      }
    }

    
  }
}

@keyframes gradientShift {
  0% {
    background-position: top left; /* Start position */
  }
  50% {
    background-position: bottom right;
  }
  100% {
    background-position: top left; /* Return to start for a loop */
  }
}
