.sidenav {
  transition: "width 0.3s ease";
  flex-shrink: 0;
  overflow: "hidden";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: var(--sidenav-bg-color);
  width: 250px;
  @media screen and (max-width: 700px) {
    width: 75px;
    .logo-container h2 {
      display: none;
    }
    nav .link-text {
      display: none;
    }
  }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: 10px;
  h2 {
    color: var(--spotify-color1);
  }
}

nav {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  padding-left: 0;
  font-size: larger;
  height: 100%;
  margin-top: 20px;
  .nav-link {
    border-radius: 0 50px 50px 0;
    corner-shape: bevel;
    padding: 0.8rem;
    padding-left: 1rem;
    margin: 1% 0;
    text-decoration: none;
    color: var(--spotify-color1);
    transition: all 0.2s linear;
    display: flex;
    align-items: center;
    gap: 1rem;
    .sidenav-icon {
      display: inline-block;
      height: 30px;
      width: 30px;
      color: var(--spotify-color1);
    }
    &.active,
    &:hover {
      background-color: var(--spotify-color1);
      color: var(--sidenav-color);
      .sidenav-icon {
        color: var(--sidenav-color);
      }
      &:last-child .sidenav-icon {
        color: rgb(194, 32, 32);
      }
    }
    &:last-child {
      margin-top: auto;
    }
    &:nth-child(4) {
      animation: gradient 0.5s ease-in-out infinite;
    }
  }
}

@keyframes gradient {
  from {
  }
}
