.roast-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--prim-text);
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
  }
  .error-msg {
    color: red;
    margin-top: 5px;
    font-size: small;
  }
  .content {
    font-size: clamp(14px, 2vw, 18px);
    margin-top: 1rem;
    white-space: pre-wrap;
  }
}
