.roast-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--prim-text);
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  h2 {
    color: var(--spotify-color1);
    text-align: center;
  }
  button {
    background-color: var(--spotify-color1);
    color: var(--platinum-color);
    &:hover {
      background-color: var(--btn-hover);
    }
  }
  .error-msg {
    color: red;
    margin-top: 5px;
    font-size: small;
  }
}
