.top-items-container {
  height: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  h2 {
    color: var(--spotify-color1);
  }
  .btn-top-item {
    background-color: var(--spotify-color1);
    color: var(--platinum-color);
    &:hover {
      background-color: var(--btn-hover);
    }
  }
}
