.card {
  height: 100%;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  img {
    height: fit-content;
    transition: all 0.3s ease;
    border: 5px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 80px;
    corner-shape: squircle;
  }
  &:hover img {
    transform: scale(1.03);
  }
  .card-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    a,p {
      color: var(--prim-text);
      display: block;
    }
    .name {
      font-size: 1.2rem;
    }
    .popularity {
      font-size: 0.9rem;
      font-style: oblique;
    }
    .list {
      text-align: center;
      margin-top: 1rem;
    }
  }
}
