.card {
  height: 100%;
  background-color: var(--card-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  img {
    height: fit-content;
    transition: all 0.3s ease;
    border: 5px solid var(--card-border);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 80px;
    corner-shape: squircle;
    @media screen and (max-width: 600px) {
      transform: scale(0.8);
    }
  }
  &:hover img {
    transform: scale(1.03);
    @media screen and (max-width: 600px) {
      transform: scale(0.83);
    }
  }
  .card-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    a,
    p {
      color: var(--prim-text);
      display: block;
      font-size: clamp(14px, 2vw, 18px);
    }
    .name {
      font-size: clamp(16px, 2vw, 22px);
    }
    .popularity {
      font-size: clamp(12px, 2vw, 16px);
      font-style: oblique;
    }
    .list {
      text-align: center;
      margin-top: 1rem;
      a,
      p {
        font-size: clamp(12px, 2vw, 16px);
      }
    }
  }
}
