.top-items-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
  height: 100%;
  color: var(--prim-text);
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  h2 {
    color: var(--spotify-color1);
    text-align: center;
  }
  .detail-btn-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-column: 1 / span 3;
    .btn-top-item {
      width: fit-content;
      background-color: var(--spotify-color1);
      color: var(--platinum-color);
      &:hover {
        background-color: var(--btn-hover);
      }
    }
  }
}

.card-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
