:root {
  font-family: Century Gothic, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;

  --spotify-color1: #1db954;
  --spotify-color2: #1db944;
  --btn-hover: #00a200;
  --btn-text: #e5e4e2;

  --platinum-color: #191919;
  --card-color: #f5f5f5;
  --prim-text: #1d2a1d;
  --main-bg-color: #eeeeee;
  --sidenav-bg-color: hsl(0, 0%, 100%);
  --card-border: #fff;
  --home-bg: url("./assets/guitar-light.png");
  --sidenav-color: #f4f4f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --platinum-color: #e5e4e2;
    --card-color: #383838;
    --prim-text: #f9fff9;
    --main-bg-color: #1f1f1f;
    --sidenav-bg-color: hsl(0, 0%, 9%);
    --card-border: #4f4f4f;
    --home-bg: url("./assets/guitar-dark.jpg");
    --sidenav-color: #121212;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  margin-top: 1rem;
  font-weight: bold;
  background-color: var(--spotify-color1);
  color: var(--btn-text);
  font-size: clamp(16px, 2vw, 18px);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  font-size: larger;
  border: none;
  outline: none;
  &:hover {
    border: none;
    outline: none;
    color: var(--btn-text);
    background-color: var(--btn-hover);
    cursor: pointer;
  }
  &:active {
    transform: translateY(1px) scale(0.99);
  }
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

pre,
p {
  font-family: "Google Sans", sans-serif;
  font-size: large;
}

h2 {
  color: var(--spotify-color1);
  text-align: center;
}
p {
  text-align: center;
  font-size: clamp(14px, 2vw, 16px);
}
